<link rel="stylesheet" type="text/css"  href="/css/_header.css">

<nav>
    <div id="logo">
        <p>News</p>
    </div>
    <div id="inp-container">
        <form>
            <input type="search" placeholder="search">
            <input type="submit" value="search">
        </form>
    </div>
</nav>