<link rel="stylesheet" type="text/css"  href="/css/_header.css">

<nav>
    <div id="logo">
        <p>News</p>
    </div>
    <div id="inp-container">
        <form action="/search" id="searchForm" method="post">
            <input type="search" id="inp" placeholder="search" name="search">
            <input type="submit" value="search">
        </form>
        <div id="filter-box">
            <span onclick="expand">Filter <i class="fa-solid fa-filter"></i></span>
            <div id="filter">
                <div id="radio-btns">
                    <div id="inp-box" >
                        <input type="radio" id="Sports" name="common" value="sports">
                        <label for="Sports">Sports</label>
                    </div>
                    <div id="inp-box">
                        <input type="radio" id="General" name="common" value="general">
                        <label for="General">General</label>
                    </div>
                    <div id="inp-box">
                        <input type="radio" id="Entertainment" name="common" value="entertainment">
                    <label for="Entertainment">Entertainment</label>
                    </div>
                    <div>
                        <input type="button" id="button" value="Apply">
                    </div>
                </div>    
            </div>
        </div>
    </div>
</nav>

<script src="/js/header.js"></script>
<script src="/js/home.js"></script>