<link rel="stylesheet" type="text/css"  href="/css/_header.css">

<nav>
    <div id="logo">
        <p>News</p>
    </div>
    <div id="inp-container">
        <form action="/search" id="searchForm" method="post">
            <input type="search" id="inp" placeholder="search" name="search">
            <input type="submit" value="search">
        </form>
        <div id="filter-box">
            <span onclick="expand">Filter <i class="fa-solid fa-filter"></i></span>
            <i id="icon" class="fa-solid fa-filter"></i>
            <div id="filter">
                <form action="/filter" id="filterForm" method="post">
                    <div id="radio-btns">
                        <div id="inp-box" >
                            <input type="radio" id="NDTVNews" name="common" value="NDTV News">
                            <label for="NDTV News">NDTV News</label>
                        </div>
                        <div id="inp-box">
                            <input type="radio" id="HindustanTimes" name="common" value="Hindustan Times">
                            <label for="Hindustan Times">Hindustan Times</label>
                        </div>
                        <div id="inp-box">
                            <input type="radio" id="News18" name="common" value="News18">
                        <label for="News18">News18</label>
                        </div>
                        <div id="inp-box">
                            <input type="radio" id="IndiaToday" name="common" value="India Today">
                            <label for="IndiaToday">India Today</label>
                        </div>
                        <div>
                            <input type="submit" id="button" value="Apply">
                        </div>
                    </div> 
                </form>   
            </div>
        </div>
    </div>
</nav>

<script src="/js/header.js"></script>
<script src="/js/home.js"></script>