<link rel="stylesheet" type="text/css"  href="/css/home.css">


<main>
    <div id="top-news">
        <h1>Top News</h1>
        <hr>
    </div>
    <div id="news-container">
        
        
    </div>
    
</main>



