nav {
  width: 100%;
  height: 60px;
  margin: 0;
  background-image: linear-gradient(130deg, #222151 0%, #032D6B 100%);
  box-sizing: border-box;
  box-shadow: 0 0 1px 0px #222151;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

nav #logo {
  width: 200px;
  height: inherit;
}

nav #logo p {
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav #logo p:first-letter {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav #inp-container {
  width: 80%;
  height: inherit;
  display: flex;
  align-items: center;
}

nav #inp-container form {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

nav #inp-container form input[type='search'] {
  width: 88%;
  height: 90%;
  padding: 5px;
}

nav #inp-container form input[type='submit'] {
  width: 100px;
  height: 90%;
  padding: 5px;
  margin-right: 5px;
}

nav #inp-container #filter-box {
  width: 100px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav #inp-container #filter-box #filter {
  width: auto;
  height: 100px;
  position: absolute;
  top: 22px;
  background-color: whitesmoke;
  z-index: 1;
  display: none;
  transition: .5s ease-in-out;
  color: black;
}

nav #inp-container #filter-box #filter #radio-btns {
  display: flex;
  flex-direction: column;
}

nav #inp-container #filter-box #filter #radio-btns div {
  width: 150px;
  display: flex;
  flex-direction: row;
}

nav #inp-container #filter-box #filter #radio-btns div input[type=button] {
  margin: 5px;
  background-color: black;
  color: white;
  width: 95%;
  border-radius: 10px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav #inp-container #filter-box:hover #filter {
  display: block;
}
