::-webkit-scrollbar {
  width: 10px;
}

main {
  width: 100%;
  height: 100%;
  background-image: url(https://files.codingninjas.com/circut-9740.png), linear-gradient(#032d6b, #032d6b), linear-gradient(to left bottom, #032d6b 50%, #faf7f2 0px), linear-gradient(to right bottom, #032d6b 50%, #faf7f2 0px);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

main #top-news {
  width: 70%;
}

main #top-news h1 {
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

main #news-container {
  width: 70%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

main #news-container #news {
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #news-container #news h3 {
  width: 95%;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main #news-container #news img {
  width: 95%;
  height: 95%;
  object-fit: cover;
}

main #news-container #news #description {
  width: 95%;
  padding: 5px;
  text-align: justify;
  font-family: Mulish, Roboto, "Helvetica Neue", sans-serif;
}
